*{
	margin: 0px;
	padding: 0px;
}
body{

	background-image: url(imagens-menu/fundo.jpg);
}
.topo{
	background: rgb(242,236,233);
	background: linear-gradient(90deg, rgba(242,236,233,0.70) 0%, rgba(242,236,233,0.20) 72%);
	
	display: flex;
	flex-direction: row;
}
.menu{
	background-color: #453073;
	border-radius: 50px;
	width: 3vw;
	height: 5vh;
	margin-top: 3vh;
	margin-right: 30vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
#check{
	position: absolute;
	opacity: 0;
}
.camada{
	background-color: red;
	position: relative;
	cursor: pointer;
	display: block;
	width: 2vw;
	height: 2vh;
}

.bot{
	font-size: 2.3vh;
	font-family: Comic Sans MS;
	margin-top: 3vh;
}
.logo{
	width: auto;
	height: 10vh;
 
	margin-left: 8vw;
	margin-right: 30vw;
}
.logo:hover{
	height: 10.5vh;
	border-radius: 50px;
	background-color: rgba(200, 193, 217, 0.50);
}
#cadastrar{
	background-color: #C8C1D9;
	color: #6C568C;
	border: 0;
	border-radius: 20px;

	width: 10vw;
	height: 5vh;
}
#cadastrar:hover{
	background-color: #6C568C;
	color: #F2ECE9;
}
#logar{
	background-color: #F2ECE9;
	color: #453073;
	border: 0;
	border-radius: 20px;

	width: 10vw;
	height: 5vh;

	margin-right: 1vw;
}
#logar:hover{
	background-color: #453073;
	color: #F2ECE9;
}
